* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 50px;
    margin-left: 300px;
    transition: margin-left .2s ease-in;
}

.container.inActive {
    margin-left: 80px;
}
